@charset "UTF-8";

@font-face {
    font-family: GenSenRounded;
    src: url(../webfonts/ttc/GenSenRounded-R.ttc);
}



/*eric css reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    /*不累加邊框與內距*/
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: linear-gradient(to bottom, #ffffff, #F5DEA8);
    font-family: "GenSenRounded", sans-serif;
    overflow: hidden;
    max-width: 1920px;
}

/* header */
img {
    display: block;
    width: 100%;
}

header {
    max-width: 1920px;
    height: 70px;
    line-height: 70px;
    background-color: #F5DEA8;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 10;
    font-family: "GenSenRounded";
}

.menu {
    display: flex;

}

.dropdown {
    display: inline-block;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1.2rem;
    color: #B61C31;
    text-align: center;
}

.dropdown:hover {
    background-image: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.dropdown-item {
    display: none;
    background-color: #F5DEA8;
    border-radius: 0 0 12px 12px;
    text-align: center;
}

.dropdown-item a {
    display: block;
    text-decoration: none;
    color: #B61C31;
}

.dropdown-item a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #B61C31;
    transition: .5s;
    margin: 0 auto;
    margin-top: -15px;
}

.dropdown-item a:hover::after {
    width: 70%;
}

.logo {
    margin-top: 12px;
    margin-right: 170px;
    width: 100px;

}

.searchbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#search {
    position: relative;
    margin-right: 10px;
}

input {
    width: 250px;
    height: 50px;
    border-radius: 22px;
    padding: 10px 20px;
    font-size: 1.2rem;
    backdrop-filter: blur(2px);
    /*要搭配rgba的背景色語法*/
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;

}

input:focus {
    width: 300px;
    outline: none;
}

.search_btn {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 9px;
    right: 3px;
    margin: 2px 0;
    cursor: pointer;

}

.icon {
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;

}

.cart {
    width: 45px;
    height: 45px;
}

/* Header RWD */

@media (min-width: 769px) {

    .menuL,
    .back,
    .magXs {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        height: 50px;
        padding: 0;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav,
    .searchbar {
        display: none;
    }

    .menuL {
        width: 8%;
    }

    .menuL.active {
        opacity: 0;
    }

    .back {
        width: 6%;
        position: absolute;
        left: 6px;
        opacity: 0;
    }

    .back.active {
        opacity: 1;
    }

    .logo {
        width: 11%;
        margin: 0;
        margin-right: 20px;
    }

    .magXs {
        width: 3%;
        padding-top: 5px;
        margin-right: 5px;
        transform: rotate(-20deg);
    }

}

@media (max-width: 576px) {
    header {
        height: 50px;
        align-items: center;
    }

    nav,
    .searchbar {
        display: none;
    }

    .menuL {
        width: 15%;
    }

    .back {
        width: 10%;
        left: 8px;
    }

    .logo {
        width: 20%;
    }

    .magXs {
        width: 6%;
        padding-top: 5px;
    }

}

/* Offcanvas 主選單 */

@media (min-width: 769px) {
    .slide-menuM {
        display: none;
    }
}

@media (max-width: 768px) {
    .slide-menuM {
        position: absolute;
        top: 50px;
        right: -100%;
        width: 100%;
        height: 974px;
        background-color: rgba(245, 222, 168, 1);
        z-index: 20;
        transition: .5s;
    }

    .slide-menuM.active {
        right: 0%;
    }

    .slide-menuM .upper {
        height: 60%;
        padding-top: 30px;
    }

    .slide-menuM .upper ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
    }

    .slide-menuM .upper ul li {
        width: 250px;
        height: 250px;
        background-image: url(../images/foot.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-right: 10px;
    }

    .slide-menuM .upper li a {
        display: block;
        width: 50%;
        font-size: 1.4em;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
        margin-top: 110px;
        color: #fff;
    }

    .slide-menuM .upper li a::after {
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        margin: 0 auto;
        background-color: #fff;
        transition: .5s;
    }

    .upper li:hover a::after {
        width: 90%;
    }

    .slide-menuM .lower {
        height: 40%;
        background-image: url(../images/footer.png);
        background-size: cover;
        display: flex;
        align-items: end;
    }

    #booby {
        position: absolute;
        width: 25%;
        bottom: 150px;
        right: 50px;
        z-index: 1;
        animation: booby 2s linear infinite alternate;
    }

    @keyframes booby {
        0% {
            right: 0;
            bottom: 150px;
        }

        25% {
            right: 50px;
            bottom: 140px;
        }

        50% {
            right: 75px;
            bottom: 160px;
        }

        100% {
            right: 0px;
            bottom: 150px;
        }
    }

    .slide-menuM .lower .area {
        width: 60%;
        height: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slide-menuM .lower .CTA {
        font-size: 2.5em;
        font-family: 'Courgette', cursive;
    }

    .slide-menuM .lower .area ul {
        display: flex;
        margin-top: 30px;
    }

    .slide-menuM .lower .area a {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 15px;
        text-indent: 101%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s;
    }

    .fb {
        background-image: url(../images/fb.svg);
    }

    .line {
        background-image: url(../images/line.svg);
    }

    .ig {
        background-image: url(../images/ig.svg);
    }

    .yt {
        background-image: url(../images/yt.svg);
    }
}

@media (max-width: 576px) {
    .slide-menuM {
        height: 794px;
    }

    .slide-menuM .upper ul li {
        width: 130px;
        height: 130px;
        padding-right: 2px;
    }

    .slide-menuM .upper ul li a {
        margin-top: 40px;
        font-size: .7em;
    }

    .slide-menuM .upper li a::after {
        margin-top: -20px;
    }

    #booby {
        width: 20%;
    }

    @keyframes booby {
        0% {
            right: 0;
            bottom: 150px;
        }

        25% {
            right: 25px;
            bottom: 140px;
        }

        50% {
            right: 50px;
            bottom: 160px;
        }

        100% {
            right: 0px;
            bottom: 150px;
        }
    }

    .slide-menuM .lower .CTA {
        font-size: 2em;
    }

    .slide-menuM .lower .area a {
        width: 50px;
        height: 50px;
    }
}

/* body */
main {
    height: 100vh;
    overflow: hidden;
}

#section1 {
    margin: 2% auto;
    display: flex;
    justify-content: center;
}

#section2 {
    margin: 2% auto;
    display: flex;
    justify-content: center;
}

#section3 {
    margin: 2% auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: -280px;
}

.cloud {
    width: 150PX;
    height: 150px;
    position: absolute;
}

.cloud1 {
    top: 100px;
    left: 50px;
    animation: ani 5s linear infinite;
}

.cloud2 {
    top: 350px;
    right: 50px;
    animation: ani2 5s linear infinite;
}

@keyframes ani {
    from {
        left: 0px;
    }

    to {
        left: 100%;
    }
}

@keyframes ani2 {
    from {
        right: 0px;
    }

    to {
        right: 100%;
    }
}

h1 {
    height: 3%;
    font-size: xx-large;
    margin: 40px auto 0 auto;
    font-weight: bold;
    text-align: center;
    z-index: 999;
    position: relative;
}

.list_box {
    display: flex;
    width: 400px;
    padding: 0 1.5%;
    z-index: 100;
}

.list_item {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    border: 1px solid #000000;
    border-radius: 10%;
    overflow: hidden;
    height: 250px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
}

.imgl {
    display: block;
    width: 150px;
}

.img {
    display: block;
    width: 150px;
    height: 150px;
    justify-self: center;
    padding: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.img_btn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #fa955f;
    padding: 5px 15px;
    display: flex;
    margin: 25px 25px;
    align-items: center;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
}

h4 {
    color: #000000;
    font-weight: bold;
    font-size: small;
}


.img_btn img {
    width: 16px;
}


.img img {
    display: block;
    width: 120px;
    height: 120px;
}

.img {
    overflow: clip;
}

h2 {
    font-size: large;
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.info {
    /* display: block; */
    float: right;
    width: 200px;
    /* padding: 0 20px 20px 20px; */
}

p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.pagination {
    display: flex;
    display: none;
    position: fixed;
    /* z-index: 100; */
    align-items: center;
    margin: 0 47%;
}

.pagination a {
    color: #AC1E30;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    padding: 8px 16px;
    transition: background-color .3s;
    text-decoration: none;
    justify-content: center;
    display: flex;
    margin: 2px;
    align-items: center;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #AC1E30;
    color: white;
    font-family: "GenSenRounded", sans-serif;
}

.pagination a:hover:not(.active) {
    background-color: #AC1E30;
    color: #fff;
}

.footer {
    margin-top: -20%;
    height: 45%;
    background-image: url(../images/grass_3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 101%; */
}

.bird {
    width: 9%;
    position: relative;
    right: -85%;
    bottom: -5%;
    animation: ani3 1s linear infinite;
}

.footprint {
    width: 5%;
    position: relative;
    left: 50px;
    bottom: 50px;
}

@keyframes ani3 {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(10deg);
    }
}

@media (max-width:768px) {
    #section1 {
        position: relative;
        z-index: 0;
        overflow: hidden;
        display: block;
    }

    #section2 {
        position: relative;
        z-index: 0;
        overflow: hidden;
        display: block;
        top: -820px;
    }

    #section3 {
        display: none;
    }

    .cloud1 {
        animation: ani 5s linear infinite;
    }

    .cloud2 {
        animation: ani2 5s linear infinite;
    }

    @keyframes ani {
        from {
            left: 0px;
        }

        to {
            left: 80%;
        }
    }

    @keyframes ani2 {
        from {
            right: 0px;
        }

        to {
            right: 80%;
        }
    }

    h1 {
        margin: 6% 0 0 0;
        position: relative;
        z-index: 1;
    }

    h4 {
        font-size: small;
    }

    .slide-menuM {
        display: none;
        transition: .5s;
        z-index: 999;
    }

    .slide-menuM.active {
        display: block;
        z-index: 999;
    }

    .list_box {
        display: block;
        margin: 2vh auto 0 auto;
        position: relative;
        width: 350px;
    }

    .bird {
        display: none;
    }

    .footer {
        margin-top: -1200px;
        height: 50%;
        background-image: url(../images/grass_rwd.svg);
        background-position: center;
        width: 100%;
        z-index: -1;
        position: absolute;
    }

    .footprint img {
        width: 10vh;
        transform: scalex(-1);
        top: 300px;
        right: -55vh;
        position: relative;
    }

    .pagination {
        display: flex;
        z-index: 1;
        position: fixed;
        margin-top: -300px;
        align-items: center;
        margin: 0 45%;
        top: 980px;
    }
}

@media(max-width:576px) {

    #section1 {
        margin: 3% auto;
        display: block;
        z-index: 0;
    }

    #section2 {
        position: relative;
        z-index: 0;
        overflow: hidden;
        display: block;
        top: -680px;
    }

    #section3 {
        display: none;
    }

    .cloud {
        display: none;
    }

    h1 {
        font-size: medium;
        margin: 3% auto;
    }

    .list_box {
        display: block;
        margin: 2vh auto;
        position: relative;
        width: 300px;
        z-index: 0;
        /* height: 200px; */
    }

    .list_item {
        padding: 0.1vh;
        height: 200px;
    }

    .imgl {
        display: block;
        width: 120px;
        margin: 0 2vh 0 0;
    }

    .img {
        width: 100px;
        height: 100px;
    }

    .img img {
        display: block;
        width: 100px;
        height: 100px;
        position: absolute;
    }

    h2 {
        font-size: large;
        display: block;
        margin: 5px auto;
        font-weight: bold;
    }

    p {
        display: -webkit-box;
        font-size: small;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 5;
    }

    h4 {
        font-size: small;
    }

    .pagination {
        display: flex;
        z-index: 1;
        position: fixed;
        margin-top: -300px;
        align-items: center;
        margin: 0 45%;
        top: 770px;
    }

    .footer {
        margin-top: -850px;
        height: 45%;
        background-image: url(../images/grass_rwd.svg);
        background-position: center;
        width: 100%;
        position: absolute;

    }

    .bird {
        display: none;
    }

    .footprint img {
        width: 10vh;
        transform: scalex(-1);
        position: relative;
        right: -25vh;
        top: 25vh;
    }
}