@charset "UTF-8";

@font-face {
  font-family: GenSenRounded;
  src: url(../webfonts/ttc/GenSenRounded-R.ttc);
}



/*eric css reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  /*不累加邊框與內距*/
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: linear-gradient(to bottom, #ffffff, #F5DEA8);
  font-family: "GenSenRounded", sans-serif;
  overflow: hidden;
  max-width: 1920px;
}

/* header */
img {
  display: block;
  width: 100%;
}

header {
  max-width: 1920px;
  height: 70px;
  line-height: 70px;
  background-color: #F5DEA8;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 10;
  font-family: "GenSenRounded";
}

.menu {
  display: flex;

}

.dropdown {
  display: inline-block;
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.2rem;
  color: #B61C31;
  text-align: center;
}

.dropdown:hover {
  background-image: url(../image/circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.dropdown-item {
  display: none;
  background-color: #F5DEA8;
  border-radius: 0 0 12px 12px;
  text-align: center;
}

.dropdown-item a {
  display: block;
  text-decoration: none;
  color: #B61C31;
}

.dropdown-item a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #B61C31;
  transition: .5s;
  margin: 0 auto;
  margin-top: -15px;
}

.dropdown-item a:hover::after {
  width: 70%;
}

.logo {
  margin-top: 12px;
  margin-right: 170px;
  width: 100px;

}

.searchbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#search {
  position: relative;
  margin-right: 10px;
}

input {
  width: 250px;
  height: 50px;
  border-radius: 22px;
  padding: 10px 20px;
  font-size: 1.2rem;
  backdrop-filter: blur(2px);
  /*要搭配rgba的背景色語法*/
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;

}

input:focus {
  width: 300px;
  outline: none;
}

.search_btn {
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 9px;
  right: 3px;
  margin: 2px 0;
  cursor: pointer;

}

.icon {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;

}

.cart {
  width: 45px;
  height: 45px;
}

/* Header RWD */

@media (min-width: 769px) {

  .menuL,
  .back,
  .magXs {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    height: 50px;
    padding: 0;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav,
  .searchbar {
    display: none;
  }

  .menuL {
    width: 8%;
  }

  .menuL.active {
    opacity: 0;
  }

  .back {
    width: 6%;
    position: absolute;
    left: 6px;
    opacity: 0;
  }

  .back.active {
    opacity: 1;
  }

  .logo {
    width: 11%;
    margin: 0;
    margin-right: 20px;
  }

  .magXs {
    width: 3%;
    padding-top: 5px;
    margin-right: 5px;
    transform: rotate(-20deg);
  }

}

@media (max-width: 576px) {
  header {
    height: 50px;
    align-items: center;
  }

  nav,
  .searchbar {
    display: none;
  }

  .menuL {
    width: 15%;
  }

  .back {
    width: 10%;
    left: 8px;
  }

  .logo {
    width: 20%;
  }

  .magXs {
    width: 6%;
    padding-top: 5px;
  }

}

/* Offcanvas 主選單 */

@media (min-width: 769px) {
  .slide-menuM {
    display: none;
  }
}

@media (max-width: 768px) {
  .slide-menuM {
    position: absolute;
    top: 50px;
    right: -100%;
    width: 100%;
    height: 974px;
    background-color: rgba(245, 222, 168, 1);
    z-index: 20;
    transition: .5s;
  }

  .slide-menuM.active {
    right: 0%;
  }

  .slide-menuM .upper {
    height: 60%;
    padding-top: 30px;
  }

  .slide-menuM .upper ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
  }

  .slide-menuM .upper ul li {
    width: 250px;
    height: 250px;
    background-image: url(../image/foot.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-right: 10px;
  }

  .slide-menuM .upper li a {
    display: block;
    width: 50%;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 110px;
    color: #fff;
  }

  .slide-menuM .upper li a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: 0 auto;
    background-color: #fff;
    transition: .5s;
  }

  .upper li:hover a::after {
    width: 90%;
  }

  .slide-menuM .lower {
    height: 40%;
    background-image: url(../image/footer.png);
    background-size: cover;
    display: flex;
    align-items: end;
  }

  #booby {
    position: absolute;
    width: 25%;
    bottom: 150px;
    right: 50px;
    z-index: 1;
    animation: booby 2s linear infinite alternate;
  }

  @keyframes booby {
    0% {
      right: 0;
      bottom: 150px;
    }

    25% {
      right: 50px;
      bottom: 140px;
    }

    50% {
      right: 75px;
      bottom: 160px;
    }

    100% {
      right: 0px;
      bottom: 150px;
    }
  }

  .slide-menuM .lower .area {
    width: 60%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide-menuM .lower .CTA {
    font-size: 2.5em;
    font-family: 'Courgette', cursive;
  }

  .slide-menuM .lower .area ul {
    display: flex;
    margin-top: 30px;
  }

  .slide-menuM .lower .area a {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 15px;
    text-indent: 101%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
  }

  .fb {
    background-image: url(../image/fb.svg);
  }

  .line {
    background-image: url(../image/line.svg);
  }

  .ig {
    background-image: url(../image/ig.svg);
  }

  .yt {
    background-image: url(../image/yt.svg);
  }
}

@media (max-width: 576px) {
  .slide-menuM {
    height: 794px;
  }

  .slide-menuM .upper ul li {
    width: 130px;
    height: 130px;
    padding-right: 2px;
  }

  .slide-menuM .upper ul li a {
    margin-top: 40px;
    font-size: .7em;
  }

  .slide-menuM .upper li a::after {
    margin-top: -20px;
  }

  #booby {
    width: 20%;
  }

  @keyframes booby {
    0% {
      right: 0;
      bottom: 150px;
    }

    25% {
      right: 25px;
      bottom: 140px;
    }

    50% {
      right: 50px;
      bottom: 160px;
    }

    100% {
      right: 0px;
      bottom: 150px;
    }
  }

  .slide-menuM .lower .CTA {
    font-size: 2em;
  }

  .slide-menuM .lower .area a {
    width: 50px;
    height: 50px;
  }
}

/* body區 */
main {
  height: 100vh;
  overflow: hidden;
}

section {
  margin: 3% auto;
  display: flex;
  justify-content: center;
}

h1 {
  height: 3%;
  font-size: xx-large;
  margin: 1.5% auto;
  font-weight: bold;
  text-align: center;
}

#accordionOne.accordion {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#accordionOne.accordion .accordion-item {
  margin-bottom: 90px;
  height: 52px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
}

#headingOne.accordion-header,
#headingTwo.accordion-header,
#headingThree.accordion-header,
#headingFour.accordion-header,
#headingFive.accordion-header {
  margin: 0;
  /* height: 52px; */
}

#headingOne.accordion-header .accordion-button,
#headingTwo.accordion-header .accordion-button,
#headingThree.accordion-header .accordion-button,
#headingFour.accordion-header .accordion-button,
#headingFive.accordion-header .accordion-button {
  font-size: larger;
  background-color: #ffffff;
}

.accordion-body {
  background-color: #FDD479;
  height: 80px;
  line-height: 1.6rem;
  padding: 10px;
  align-items: center;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
}

.accordion-body p {
  font-size: larger;
}

.cloud {
  width: 150PX;
  height: 150px;
  position: absolute;
}

.cloud1 {
  top: 100px;
  left: 50px;
  animation: ani 5s linear infinite;
}

.cloud2 {
  top: 250px;
  right: 50px;
  animation: ani2 5s linear infinite;
}

@keyframes ani {
  from {
    left: 0px;
  }

  to {
    left: 100%;
  }
}

@keyframes ani2 {
  from {
    right: 0px;
  }

  to {
    right: 100%;
  }
}

.footer {
  bottom: -140px;
  height: 45%;
  width: 100%;
  z-index: -1;
  background-image: url(../image/草皮.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.bird {
  width: 15%;
  left: 50px;
  bottom: 50px;
  position: fixed;
}

.footprint {
  width: 5%;
  right: 50px;
  bottom: 50px;
  position: fixed;
}

@media (max-width:768px) {
  #accordionOne.accordion {
    width: 500px;
  }

  h1 {
    margin: 4% 0 3% 0;
  }

  .slide-menuM {
    display: none;
    transition: .5s;
    z-index: 999;
  }

  .slide-menuM.active {
    display: block;
    z-index: 999;
  }

  .cloud1 {
    animation: ani 5s linear infinite;
  }

  .cloud2 {
    animation: ani2 5s linear infinite;
  }

  @keyframes ani {
    from {
      left: 0px;
    }

    to {
      left: 80%;
    }
  }

  @keyframes ani2 {
    from {
      right: 0px;
    }

    to {
      right: 80%;
    }
  }

  #accordionOne.accordion .accordion-item {
    margin-bottom: 95px;
  }

  .accordion-body {
    height: 94px;
  }

  .footer {
    background-image: url(../image/草皮2.svg);
  }

  .footprint {
    width: 10vh;
    bottom: 45px;
    right: 50px;
  }

  .bird {
    width: 20vh;
  }

}

@media(max-width:576px) {
  h1 {
    font-size: large;
    margin: 4% 0 0 0;
  }

  #accordionOne.accordion {
    width: 300px;
  }

  @keyframes ani {
    from {
      left: 0px;
    }

    to {
      left: 60%;
    }
  }

  @keyframes ani2 {
    from {
      right: 0px;
    }

    to {
      right: 60%;
    }
  }

  #accordionOne.accordion .accordion-item {
    margin-bottom: 75px;
  }

  #headingOne.accordion-header .accordion-button,
  #headingTwo.accordion-header .accordion-button,
  #headingThree.accordion-header .accordion-button,
  #headingFour.accordion-header .accordion-button,
  #headingFive.accordion-header .accordion-button {
    font-size: small;
  }

  .accordion-body {
    line-height: 1.2em;
    height: 70px;
  }

  .accordion-body p {
    font-size: xx-small;
  }

  .footer {
    background-image: url(../image/草皮2.svg);
  }
}